html,
body {
  height: 100%;
  margin: 0;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  height: 750px;
  width: 900px;
}

#game {
  box-shadow: 20px 10px 20px black;
}
